<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="../../static/css/file_compare.css">
    <link rel="shortcut icon" href="../../static/img/favicon.ico" type="image/x-icon">
    <title>首页</title>
</head>
<body>
    <div class="header">
        <h1>文件比对</h1>
    </div>
    <div class="content">
        <form action="/replace_string" method="post" enctype="multipart/form-data">
        <!--  这里添加enctype="multipart/form-data"是因为提交的内容不止有文本数据还有文件数据  -->
            文件一：<input type="file" name="file1"><br>
            修改的字符串：<input type="text" name="origin_text"><br>
            替换为：<input type="text" name="goal_text"><br>
            <input type="submit" value="替换">
        </form>
    </div>
    <div class="footer">
        <span>Copyright &copy; 2021 任亭松</span>
    </div>
</body>
</html>