<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="../../static/css/file_compare.css">
    <title>首页</title>
</head>
<body>
    <div class="header">
        <h1>文件比对</h1>
    </div>
    <div class="content">
        <form action="/file_compare_result" method="post" enctype="multipart/form-data">
            文件一：<input type="file" name="file1"><br>
            文件二：<input type="file" name="file2"><br>
            <input type="submit" value="上传比对">
        </form>
    </div>
    <div class="footer">
        <span>Copyright &copy; 2021 任亭松</span>
    </div>
</body>
</html>