.header {

}

.content {

}

.footer {
    height: 60px;
    text-align: center;
    line-height: 60px;
}

.task {
    width: 150px;
    height: 120px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    line-height: 120px; /* 行高等于div高，使垂直居中 */
    border: 1px solid #000;
    border-radius: 20px;
}