<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet"  href="../static/css/file_compare.css">
    <title>首页</title>
</head>
<body>
    <div class="header">
        <h1 style="text-align: center">欢迎访问pine-r的小工具集锦</h1>
    </div>
    <div class="content">
        <div class="task"><a href="/file_compare">文件比较</a></div>
        <div class="task"><a href="#">文本字符串替换</a></div>
        <div class="task"><a href="#">听音乐</a></div>
        <div class="task"><a href="#">看电影</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div class="task"><a href="#">功能x</a></div>
        <div style="clear: both"></div>
    </div>
    <div class="footer">
        <span>Copyright &copy; 2021 任亭松</span>
    </div>
</body>
</html>